body {
  background-color: #fbfbfc;
  margin: 0;
  color: #19191c;
  font: 400 18px/28px Inter, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #efeff2;
}

.header__container {
  display: flex;
  padding: 36px 0 0;
  justify-content: space-between;
}

.header__box {
  display: flex;
  align-items: center;
  gap: 68px;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 48px;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.link {
  color: #19191c;
  text-decoration: none;
}

.btn-box {
  display: flex;
  gap: 48px;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 14px;
  color: #19191c;
  text-decoration: none;
}

.header__link {
  color: #19191c;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.header__btn {
  background: #19191c;
  color: #efeff2;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  padding: 12px 37px;
  text-decoration: none;
}

.offer {
  background-color: #efeff2;
}

.offer__contain {
  display: flex;
  justify-content: space-between;
  padding: 137px 0 230px;
  background: url(../img/confident-sassy-young-1.png) no-repeat 100% 100%,
    url(../img/rectangle\ -1.png) no-repeat 88% 100%,
    url(../img/ellipse-2.png) no-repeat 100% 50%;
}

.offer__holder {
  width: 648px;
  padding-top: 49px;
  background-image: url(../img/ellipse-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.offer__title {
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
}

.offer__discription {
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 62px;
}

.offer-link {
  font-weight: 700;
  text-decoration: none;
  color: #584dee;
}

.button {
  background: #504dee;
  padding: 16px 37px;
  border: none;
  color: #fbfbfc;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 110px;
}

.offer__sale {
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  margin: 0;
}

.offer__time {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
}

.offer__list {
  list-style: none;
  flex-grow: 1;
  position: relative;
}
.offer__item {
  border: 2px solid #19191c;
  padding: 16px 36px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #19191c;
}

.offer__marketer {
  position: absolute;
  top: 96px;
  right: 0px;
}

.offer__illustrator {
  position: absolute;
  top: 0px;
  right: 222px;
}

.offer__animator {
  position: absolute;
  top: 82px;
  right: 461px;
}

.offer__programmer {
  position: absolute;
  top: 275px;
  right: 669px;
}

.offer__designer {
  position: absolute;
  top: 438px;
  right: 758px;
}

.offer__photographer {
  position: absolute;
  top: 593px;
  right: 647px;
}

.learn {
  background: #19191c;
  padding: 168px 0 162px;
  color: #fbfbfc;
}

.learn__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.learn__text {
  width: 588px;
}

.learn__title {
  color: #fbfbfc;
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
}

.learn__description {
  color: #efeff2;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.learn__description-first {
  margin-bottom: 24px;
}

.learn__counters {
  display: flex;
  gap: 86px;
}

.learn__counter {
  width: 178px;
  border-bottom: 1px solid #fbfbfc;
}

.learn__counters-item {
  color: #fbfbfc;
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
}

.learn__counters-description {
  color: #efeff2;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 22px;
}

.discover {
  padding: 165px 0 168px;
}

.discover__title {
  color: #19191c;
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
  width: 594px;
  margin-bottom: 45px;
}

.discover__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.discover__list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.discover__button {
  border: none;
  color: #19191c;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.arrow-right {
  display: flex;
  align-items: center;
  gap: 18px;
  text-decoration: none;
  color: #19191c;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.discover__cards {
  display: flex;
  justify-content: space-between;
}

.discover__cards-item img {
  margin-bottom: 28px;
}

.discover__cards-item h3 {
  color: #19191c;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 11px;
}

.discover__cards-item p {
  color: #6d6d77;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.find-program {
  background: #deefe4;
}

.find-program__container {
  padding: 168px 0;
  display: flex;
}

.find-program__text {
  width: 50%;
}

.find-program__title {
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
  width: 801px;
  margin-bottom: 28px;
}

.find-program__description {
  color: #19191c;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.find-program__form {
  width: 50%;
  display: flex;
  gap: 48px;
  flex-direction: column;
}

.find-program__form input {
  width: 100%;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #19191c;
}

.find-program__form input::placeholder {
  color: #19191c;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.find-program__button {
  background-color: #19191c;
  color: #fbfbfc;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  padding: 16px 36px;
  width: 150px;
}

.footer {
  padding: 68px 0 0;
  background: #19191c;
}

.footer__holder {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.footer__wraper {
  display: flex;
  justify-content: space-between;
}

.sitemap {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.sitemap__title {
  color: #fbfbfc;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.sitemap__list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.sitemap__list a {
  color: #efeff2;
  text-decoration: none;
}

.footer__logo {
  color: #fbfbfc;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 43px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer-contacts a {
  color: #fbfbfc;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6d6d77;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.copyright a {
  color: #6d6d77;
  text-decoration: none;
}

/* couses page */

.offer__container {
  display: flex;
  justify-content: space-between;
  padding: 137px 0 230px;
  background: url(../img/business-finance-employment-female-1.png) no-repeat
      122% 100%,
    url(../img/rectangle\ -1.png) no-repeat 88% 100%,
    url(../img/ellipse-2.png) no-repeat 100% 50%;
}

.offer__discription-long {
  width: 648px;
}

.offer__photoshop {
  position: absolute;
  top: 275px;
  right: 569px;
}

.offer__p-illustrator {
  position: absolute;
  top: 593px;
  right: 687px;
}

.offer__duration {
  font-weight: 700;
  width: 84px;
  border-bottom: 4px solid #504dee;
  margin-bottom: 32px;
}

.profession {
  padding: 168px 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.profession__text {
  width: 588px;
}

.profession__title {
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
}

.profession__description {
  color: #6d6d77;
}

.profession__counters {
  display: flex;
  gap: 103px;
}

.profession__counters-number {
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
}

.profession__counters-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 21px;
  margin-bottom: 18px;
  width: 254px;
  border-bottom: 4px solid #19191c;
}

.profession__counters-description-2 {
  color: #6d6d77;
}

.main-parts__cards {
  display: flex;
  gap: 20px;
}

.main-parts__cards-item {
  padding: 68px 48px;
}

.main-parts__cards-title {
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 28px;
  margin-bottom: 12px;
  border-bottom: 4px solid #19191c;
}

.main-parts__cards-item-1 {
  background: #deefe4;
}

.main-parts__cards-item-2 {
  background: #f3f3d7;
}

.main-parts__cards-item-3 {
  background: #efdeee;
}

.discover-prices {
  padding: 171px 0 168px;
}

.discover-prices__title {
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 100px;
}

.discover-prices__cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.discover-prices__cards-item {
  padding: 48px 51px 51px 68px;
  background: #deefe4;
  height: 732px;
}

.discover-prices__cards-title {
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 47px;
}

.discover-prices__cards-item.accent {
  background: #504dee;
}

.discover-prices__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
